#header {
    background-color: crimson;
    height: 126px;
    margin: 0px;
}
#logo {
    width: 100px;
    height: 100px;
    padding: 13px 30px 13px 20px;
    float: left;
}
#logo:hover{
    transition-duration: 0.2s;
    background-color: #ec143c;
}
#header ul {
    list-style-type: none;
    margin: 0px;
}
#header li {
    float: left;
}
#header a {
    display: block;
    font-size: 36px;
    color: white;
    padding: 42px 20px 42px 20px;
}
#header .active {
    background-color: #BF0000;

}
#header a:hover:not(.active) {
    background-color: #ec143c;
    transition-duration: 0.2s;
}

#intro {
    background-color: white;
    height: 200px;
    margin: 0px;
}
#intro h2 {
    text-align: center;
    margin: 16px 0px 16px 0px;
    font-size: 36px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#intro p {
    font-size: 24px;
    margin: 20px 24px 16px 24px;
}

#footer {
    background-color: black;
    height: 80px;
    margin: 0px;
}
#footer .p {
    color: white;
    font-size: 12px;
    padding: 8px 10px 0px 24px;
    margin: 0px;
}
