#header {
    background-color: crimson;
    height: 120px;
    margin: 0px;
}
#logo {
    width: 100px;
    height: 100px;
    padding: 10px 30px 10px 10px;
    float: left;
}
#header a {
    float: left;
    font-size: 36px;
    color: white;
    padding: 42px 40px 42px 0px;
}

#intro {
    background-color: white;
    /*height: 220px;*/
    margin: 0px;
}
#intro h2 {
    text-align: center;
    margin: 16px 0px 16px 0px;
    font-size: 36px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#intro p {
    font-size: 24px;
    margin: 20px 24px 0px 24px;
}
#intro .endText {
    margin-bottom: 16px;
}

#footer {
    background-color: black;
    height: 80px;
}
#footer .p {
    color: white;
    font-size: 12px;
    padding: 8px 10px 0px 24px;
    margin: 0px;
}