/* General styles */

body {
    margin: 0px;
}

/* General styles end */



/* Universal starts */



/* Header styles start */

.header {
   width: 100%;
   height: 130px;
   overflow: hidden;
   background-color: #89DA59; /* This controls the header background color */
   /* border-bottom: 1px solid #00aa00; */
} /* Styles the green bar */

#logo {
    width: 100px;
    height: 100px;
    /* ^ Controls the dimensions of the logo */
    padding: 15px 30px 15px 30px;
    margin: 0px;
}

.header ul {
    list-style-type: none; /* Removes the bullet points from the <ul> */
    margin: 0px;
    padding: 0px;
}

.header li {
    float: left; /* Pushes all of the <li> items to the left */
}

.header li:hover:not(.active) { /* Activates when a object is hovered over in the header */
    transition-duration: 0.2s; /* Makes the color change over time, making it less abrupt */
    background-color: #32cd32; /* Color it changes to upon hover */
}

.header .active {
    background-color: #00AA00; /* Makes the selected tab a distint color, to show which tab is loaded */
}

.header a {
    font-size: 36px;
    padding: 46px 20px;
    color: white;
    display: block;
}

/* Header styles end */



/* Footer styles start */

.footer {
    width: 100%;
    background-color: black;
    height: 150px;
}

.footer ul {
    list-style-type: none; /* Removes bullet points */
    padding: 5px 35px;
    margin: 0px;
    color: white;
    font-size: 16px;
    display: block;
    float: left; /* Makes all of the lists go side by side */
    width: auto;
}

/* Footer styles end */



/* Universal end */


/* Home starts */



/* Introduction styles start */

.intro {
    background-color: #EF5455;
}

.intro h1 {
    text-align: center;
    font-size: 36px;
    padding: 12px 0px 16px 0px;
    margin: 0px;
    color: #2B3252;
}

.intro h2 {
    text-align: center;
    font-size: 30px;
    padding: 8px 0px 16px 0px;
    margin: 0px;
    color: #2B3252;
}

.intro p {
    font-size: 24px;
    padding: 0px 36px 8px 36px;
    margin: 0px;
    color: #FAD744;
}

.intro .last {
    padding-bottom: 12px;
}

/* Introduction styles end */



/* Home ends */


/* Languages start */



/*   */



/* Languages end */


/* About starts */



/* Information styles start */

.info {
    background-color: #2A3132;
    /* color: #EC4D37; */
    margin: 0px;

}
.info h1 {
    text-align: center;
    font-size: 36px;
    padding: 12px 0px 16px 0px;
    margin: 0px;
    color: #EC4D37;
}

.info h2 {
    text-align: center;
    font-size: 30px;
    padding: 8px 0px 16px 0px;
    margin: 0px;
    color: #ec4d37;
}

.info p {
    font-size: 24px;
    padding: 0px 36px 8px 36px;
    margin: 0px;
    color: #EC4D37;
}

.info .last {
    padding-bottom: 12px;
}

/* Information styles end */


/* About ends */


/* Color combination ideas :
1;
Background - Purple (#3C1A5B)
Text - Yellow (#FFF748)
2;
Background - Black (#1D1B1B)
Text - Red (#EC4D37)
*/