/* General styles */

body {
    margin: 0px;
}

body::-webkit-scrollbar {
    display: none;
} /* This removes the scrollbar, while still keeping the functionality of being able to scroll */

/* General styles end */



/* Universal starts */



/* Header styles start */

.header {
   width: 100%;
   height: 130px;
   overflow: hidden;
   background-color: #89DA59; /* This controls the header background color */
   /* border-bottom: 1px solid #00aa00; */
} /* Styles the green bar */

#logo {
    width: 100px;
    height: 100px;
    /* ^ Controls the dimensions of the logo */
    padding: 15px 30px 15px 30px;
    margin: 0px;
}

.header ul {
    list-style-type: none; /* Removes the bullet points from the <ul> */
    margin: 0px;
    padding: 0px;
}

.header li {
    float: left; /* Pushes all of the <li> items to the left */
}

.header li:hover:not(.active) { /* Activates when a object is hovered over in the header */
    transition-duration: 0.2s; /* Makes the color change over time, making it less abrupt */
    background-color: #32cd32; /* Color it changes to upon hover */
}

.header .active {
    background-color: #00AA00; /* Makes the selected tab a distint color, to show which tab is loaded */
}

.header a {
    font-size: 36px;
    padding: 46px 20px;
    color: white;
    display: block;
}

/* Header styles end */



/* Footer styles start */

.footer {
    width: 100%;
    background-color: black;
    height: 150px;
}

.footer ul {
    list-style-type: none; /* Removes bullet points */
    padding: 5px 35px;
    margin: 0px;
    color: white;
    font-size: 16px;
    display: block;
    float: left; /* Makes all of the lists go side by side */
    width: auto;
}

/* Footer styles end */



/* Universal end */


/* Home starts */



/* Introduction styles start */

.intro {
    background-color: #EF5455;
}

.intro h1 {
    text-align: center;
    font-size: 36px;
    padding: 12px 0px 16px 0px;
    margin: 0px;
    color: #2B3252;
}

.intro h2 {
    text-align: center;
    font-size: 30px;
    padding: 8px 0px 16px 0px;
    margin: 0px;
    color: #2B3252;
}

.intro p {
    font-size: 24px;
    padding: 0px 36px 8px 36px;
    margin: 0px;
    color: #FAD744;
}

.intro .last {
    padding-bottom: 12px;
}

/* Introduction styles end */



/* Home ends */


/* Languages start */



/* Collapse styles starts */

.collapse {
    background-color: #C4DFE6;
    height: auto;
    padding-top: 48px;
    padding-bottom: 48px;
    margin: 0px;
}

.collapse .outline {
    background-color: #66A5AD;
    width: 90%;
    margin: 0px 5%;
    padding-bottom: 16px;
}

.collapse .accordian {
    background-color: #07575B;
    width: 90%; /* Button only fills 90% of the container, */
    margin: 16px 5% 0px 5%; /* Button is centered because the rest of the container is margin (5% left, 5% right). 0px bottom margin lets the content sit directly under the button. */
    padding: 8px 12px 8px 12px; /* Padding makes the button bigger and more attractive */
    border: 2px solid #003B46;
    text-align: left;
    color: white;
    font-size: 24px;
    cursor: pointer; /* Makes the cursor a pointer to indicate it's clickable */
} /* #003B46 */

.collapse .accordian:focus { /* :focus is when a button is clicked */
    outline: none; /* Removes the blue border that normally happens when a button is clicked */
}

/* .collapse .accordian .last {
    margin-bottom: 16px;
    padding-bottom: 8px;
} */

.collapse .accordian:hover {
    background-color: #003B46;
}

.collapse .accordian::after {
    content: "\002B";
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 6px;
}

.collapse .active {
    background-color: #003B46;
}

.collapse .active::after {
    content: "\002D";
}

.collapse .panel {
    background-color: #07575B;
    width: 90%;
    margin: 0px 5% 0px 5%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out; /* Makes it so that it expands over time to the full size of the content */
    /* display: none; */
}

.collapse p {
    color: white;
    font-size: 18px;
    margin: 16px 16px 12px 16px;
}

/* Collapse styles end */


/* Languages end */


/* About starts */



/* Information styles start */

.info {
    background-color: #2A3132;
    /* color: #EC4D37; */
    margin: 0px;

}
.info h1 {
    text-align: center;
    font-size: 36px;
    padding: 12px 0px 16px 0px;
    margin: 0px;
    color: #EC4D37;
}

.info h2 {
    text-align: center;
    font-size: 30px;
    padding: 8px 0px 16px 0px;
    margin: 0px;
    color: #ec4d37;
}

.info p {
    font-size: 24px;
    padding: 0px 36px 8px 36px;
    margin: 0px;
    color: #EC4D37;
}

.info .last {
    padding-bottom: 12px;
}

/* Information styles end */


/* About ends */


/* Color combination ideas :
1;
Background - Purple (#3C1A5B)
Text - Yellow (#FFF748)
2;
Background - Black (#1D1B1B)
Text - Red (#EC4D37)
*/