/* ! General styles */

body {
    margin: 0px;
}

body::-webkit-scrollbar {
    display: none;
} /* This removes the scrollbar, while still keeping the functionality of being able to scroll */

/* General styles ! */


/* ! Header styles */

.header {
    width: 100%;
    height: 130px;
    overflow: hidden;
    background-color: #ffa500;
} /* Styles the div container */

.header .logo {
    width: 100px;
    height: 100px;
    padding: 15px 30px;
    margin: 0px;
} /* Styles picture */

.header ul {
    list-style-type: none; /* Removes bullet points */
    margin: 0px;
    padding: 0px;
}

.header li {
    float: left;
} /* Makes the list items go from the left */

.header li:hover:not(.active) { 
    transition-duration: 0.2s;
    background-color: #ff9500;
} /* Activates when a element is hovered over, but is not active. */

.header .active {
    background-color: #Fd7014;
} /* Makes the active (which tab is open) a darker, distinct color */

.header a {
    font-size: 36px;
    padding: 46px 20px;
    color: white;
    display: block;
} /* Styles the text for the links (redirects) */

/* Header styles ! */


/* Index styles ! */

.intro {
    background-image: linear-gradient(to bottom right, #00ff00, #32cd32, #00ff00);
    width: 100%;
    /* height: 450px; */
}

.intro h1 {
    color: white;
    text-align: center;
    padding: 18px 24px 10px;
    margin: 0px;
}

.intro p {
    color: white;
    padding: 2px 60px 0px;
    margin: 0px;
}

/* ! Index styles */


/* ! Display styles */

.display {
    background-color: #00ff00;
    width: 100%;
    overflow: auto; /* Makes the container wrap the elements (background color on elements) */
}

.display .video {
    float: left;
    width: 50%;
}

.display h1 {
    color: white;
    text-align: center;
    font-size: 24px;
}

.display .video h2 {
    color: white;
    text-align: center;
    font-size: 18px;
}

.display .video video {
    width: 80%;
    outline: none; /* Removes the on-click border */
    padding: 0px 10% 5% 10%;
    margin: 0px;
}

/* Display styles ! */


/* Footer styles ! */

/* Ideas:
- Possible footer colors; darkest orange + white text (contrast?), black + white text (standard), white + black text, light green?
- insta credit
*/

/* Explanation:
Each <ul> element creates a new column.
Each <li> element creates a new row in its parent column.

To change the contents of footers, use Javascript.
Letter = Column, Number = Row, ex B3 = Column 2, Row 3
*/

.footer {
    width: 100%; /* Container extends to full size of the page */
    overflow: auto; /* Makes the footer extend to cover contents */
    background-color: #dd7014;
} /* Styles div container */

.footer ul {
    list-style-type: none; /* Removes bullet points */
    float: left; /* Aligns the footers horizontally starting from the left */
    margin: 12px 18px; /* Seperates columns */
    padding: 1px;
    /* background-color: blue; */
}

.footer li {
    margin: 0px;
    padding: 0px;
    /* background-color: white; */
}
.footer a {
    font-size: 14px;
    color: white;
    margin: 0px;
    padding: 0px;
}

.footer p {
    font-size: 14px;
    color: white;
    margin: 0px;
    padding: 0px;
}

.footer li:not(.title) { 
    margin-top: 2px; /* Makes it so the non-title elements aren't glued together */
} /* Activates for every element but the top (title) element. */

.footer .title {
    margin-bottom: 10px;
} /* Use .title for the title of a list, to seperate from other items. */

.footer .title p, .footer .title a {
    font-size: 18px;
}

/* ! Footer styles */